# Exclude workspace cache
.obsidian/

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude caches
.trash/
